<ng-container>
  <button class="btn btn-outline-primary me-3" (click)="got500Error()">
    Test 500 Error
  </button>
  <button class="btn btn-outline-primary me-3" (click)="got400Error()">
    Test 400 Error
  </button>
  <button class="btn btn-outline-primary me-3" (click)="got401Error()">
    Test 401 Error
  </button>
  <button class="btn btn-outline-primary me-3" (click)="got404Error()">
    Test 404 Error
  </button>
  <button
    class="btn btn-outline-primary me-3"
    (click)="got400ValidationError()"
  >
    Test 400 Validation Error
  </button>
  <div class="row mt-5" *ngIf="validationErrors.length>0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>
</ng-container>
